<!DOCTYPE html>
<html lang="en">
  <body>
      <div class="container">
      <div class="header">
      <h1 class="text-muted"> Protein name analysis </h1> 
      </div>                                                                                                         <div class="jumbotron">
             <h3> Choose a cluster </h3> 
              <from id='dom_inform' action='index' method='post'>
              <p>  
               <input type ='text' name='dom'/>
               </p>
              </form>   
         </div>
  </body>
</html>


